.tag__list-item {
    font-size: var(--font-size-tiny);
    background: var(--tag-background);
    color: var(--secondary-color);
    border-radius: var(--border-radius-medium);

    .tag__list-item-link {
        text-align: center;
        color: var(--white);
        text-decoration: none;
        font-family: var(--font-family), sans-serif;
    }
}

.tag--small {
    font-size: var(--font-size-tiny);
    font-weight: var(--font-thin);
    padding: var(--padding-tiny);
}

.tag--normal {
    font-size: var(--font-size-small);
    font-weight: var(--font-light);
    padding: var(--padding-small);
}

.tag--large {
    font-size: var(--font-size-regular);
    font-weight: var(--font-medium);
    padding: var(--padding-regular);
}
